<div class="display" *ngIf=" products | async; else addProducts">
    <div *ngFor="let product of products | async" class="outer">
        <img src={{product.images}} alt="{{product.product_name}} Image" class="product-image">
        <div class="inner">
            <p>{{product.product_name}}</p>
            <p>{{product.descriptions | short:10}}</p>
            <p>{{product.product_price | currency:'KSH '}}</p>
            <div class="buttons">
                <button type="button" (click)="deleteProduct(product.product_id)">Delete</button>
                <button type="button" (click)="updateProduct(product.product_id)">Update</button>
            </div>
        </div>
    </div>
</div>

<ng-template #addProducts>
    <p><b><i>Add Products!</i></b></p>
</ng-template>
