<div class="display" *ngIf="products | async as prods; else noProducts">
    <div *ngFor="let product of prods" class="outer">
        <img src={{product.product_image}} alt="{{product.product_name}} Image">
        <div class="inner">
            <p>{{product.product_name}}</p>
            <!-- <p>{{product.product_description}}</p> -->
            <p>{{product.product_price | currency:'KSH '}}</p>
            <button type="button" (click)="viewDetails()">Details</button>
        </div>
    </div>
</div>

<ng-template #noProducts>
    <p><i>Sorry, we have no products available today!</i></p>
</ng-template>