<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
<div class="toolbar" role="banner">
    <h1 class="vine">Vine<span class="yard">y</span>ard</h1>
    <div class="routes">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="one" routerLinkActive="active">one </a></li>
        <li><a routerLink="category" routerLinkActive="active">category </a></li>
        <li><a routerLink="order" routerLinkActive="active" >Orders </a></li>
        <li><a routerLink="adminlogin" routerLinkActive="active" >Admin </a></li>
        <li><a routerLink="add" routerLinkActive="active" *ngIf="authenticatorService.isLoggedin()">Add Product</a></li>
        <li><a routerLink="products" routerLinkActive="active" *ngIf="authenticatorService.isLoggedin()">Display Products</a></li>
        <li><a routerLink="all-orders" routerLinkActive="active" *ngIf="authenticatorService.isLoggedin()">All Orders </a></li>
    </div>
    <div class="spacer"></div>
    <div class="signup">
        <li><a routerLink="logIn" routerLinkActive="active" *ngIf="!this.authenticatorService.isLoggedin()">Log In</a></li>
        <li><a routerLink="/" (click)="authenticatorService.logout()" class="logout" *ngIf="this.authenticatorService.isLoggedin()">Log Out</a></li>
        <li><a routerLink="register" routerLinkActive="active" *ngIf="!this.authenticatorService.isLoggedin()">Register </a></li>
        <li><a routerLink="cart" routerLinkActive="active">Cart </a></li>
        <li *ngIf="this.authenticatorService.isLoggedin()">
            <img src="https://th.bing.com/th/id/OIP.lkVN1WDlcV2jQCq-9LT7-wHaIJ?w=161&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="profile" class="pfp">
            <h5 >{{authenticatorService.readUsername()}}</h5>
        </li>
    </div>
</div>

    <app-search></app-search>

<div class="categories">
    <div *ngFor="let c of categories" class="category">
        <li><a href="#" routerLinkActive="active">{{c}}</a></li>
    </div >
</div>

<div class="body">
    <router-outlet></router-outlet>
</div>


<footer>
    <p><i>copyright &copy; 2023</i></p>
</footer>