<div class="form-container">
    <div>
        <img src="../../assets/hero.jpeg" alt="">
    </div>
<div >
    
    <form [formGroup]="form">
        <h1>Admin Login</h1>
        <div  *ngIf="errorMessage" class="error">
            <span class="error">{{errorMessage}}</span>
        </div>
        <div class="input-container">
            <label for="name">Email</label>
            <input type="text" formControlName="email">
        </div>
        <div class="input-container">
            <label for="name">Password</label>
            <input type="password"   formControlName="password">
        </div>
        <div class="input-container button">
            <button type="submit" (click)="SubmitForm()"> Login</button>
        </div>
    </form>
</div>
</div>